html{scroll-behavior:smooth ;}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Avenir Next", sans-serif;
}

header{
    margin-top:-62px;
    height:100vh;
    text-align:center;
    background-image:url(https://images.unsplash.com/photo-1545431613-51ec097943c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:cover;
    background-attachment:fixed;
    padding-top:45vh;
    color:#fff;
}

#title{
    font-size:7vw;
}

#navbar{
    position:sticky;
    top:0;
    left:0;
    text-align:center;
    padding: 0.5em;
    background-color:#2225;
    height:62px;
    backdrop-filter:blur(30px);
    z-index: 1000;
}

#navbar a{
    margin:0 .25em;
    padding:1em 1.5em 1em 1.66em;
    display:inline-block;
    font-size:.8em;
    text-decoration:none;
    text-transform: uppercase;
    background-color:#fffc;
    letter-spacing:2px;
    font-weight:600;
    border-radius:.5em;
    color:#000;
    border-bottom:solid 1px #000;
    box-shadow:0;
    transition:box-shadow .2s, background-color .2s;
}

#navbar a:hover{
    background-color:#fff;
    box-shadow:#0ff 0px -5px 5px -5px inset;
}

#wrapper{
    background-color:#111;
}

main{
    max-width:800px;
    margin:auto;
    padding:0 100px;
    color:#fff;
}

main.poke{
    max-width:1000px;
    margin:auto;
    padding:0 100px;
    color:#fff;
}

#welcome-section{
    padding:5em 0 0 0;
    min-height:100vh;
}

#welcome-section img{
    width:100%;
    margin-bottom:1em;
    border-radius:1em;
}

blockquote{
    padding:0 1em;
    letter-spacing:1px;
    font-style:italic;
    font-size:.8em;
}

h1{
    font-size:4em;
}

p{
    margin:0 0 1.5em 0;
    font-size:1em;
}

#next-button{
    color:#fff;
    background-color:#fff1;
    padding:.2em .4em .2em .6em;
    border-radius:.2em;
    text-decoration:none;
}

.projects{
    padding: 5em 0 0 0;
    min-height: 100vh;
}

.projects-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    margin:1em 0 0 0;
}

.pokemon-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    margin:1em 0 0 0;
}

.project-tile{
    width:48%;
    min-height:360px;
    background-color:#fff1;
    padding:1.8em;
    margin:0 0 1.5em 0;
    border-radius:1.8em;
    transition:box-shadow .25s, background-color .25s, transform .25s;
}

.project-tile:hover{
    box-shadow:
    0px 0px 10px #0f55,
    0px 0px 5px #fff2;
    background-color:#fff2;
    transform:scale(1.025)
}

.project-tile img{
    margin-bottom:1em;
    width:100%;
    border:1px solid #fff;
    border-radius:1em;
}

a{
    color:#0aa;
    text-decoration: none;
}

a:visited{
    color:#0af;
}

figcaption{
    color:#fff;
    text-decoration: none;
}

.primary-info{
    font-weight:700;
}

.secondary-info{
    color:#fffb;
}

.scene{
    width:23%;
    min-width:180px;
    min-height:260px;
    margin:8px;
    perspective:1000px;
}

.card{
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card:hover{
    transform:scale(1.025)
}

.card.is-flipped{
    transform:rotateY(180deg);
}

.card__face{
    position:absolute;
    width:100%;
    height:260px;
    backface-visibility:hidden;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
  }

.card__face--front{
    padding:8px;
    text-transform:capitalize;
    text-align:center;
    background-color: #1c1c1c;
    width:100%;
    height:260px;
    border-radius:1em;
}

.frontImage{
    background:linear-gradient(30deg, #014, #03a, #05a, #0bb);
    padding:8px;
    width:100%;
    border-radius:.75em;
}

.frontLabel{
    font-weight:700;
}

.card__face--back{
    border: 4px solid #1c1c1c;
    padding:16px;
    width:100%;
    height:260px;
    border-radius:1em;
    background:linear-gradient(30deg, #014, #03a, #05a, #0bb);
    transform:rotateY(180deg);
}

.backLabel{
    font-size:1em;
    font-weight:700;
    margin-bottom:0px;
}

.backStat{
    margin-bottom:0px;
}

#newCard{
    width:23%;
    min-width:180px;
    min-height:260px;
    margin:8px;
    perspective:800px;
    background-color:#1c1c1c;
    padding:1em;
    display:flex;
    align-content:center;
    border-radius:1em;
    transition:all .1s;
}

#newCard:hover{
    background-color:#333;
    cursor:pointer;
    transform:scale(1.025);
}

#newCard img{
    width:100%;
    opacity:.75;
}
