html{scroll-behavior:smooth ;}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Avenir Next", sans-serif;
}

header{
    margin-top:-62px;
    height:100vh;
    text-align:center;
    background-image:url(https://images.unsplash.com/photo-1545431613-51ec097943c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:cover;
    background-attachment:fixed;
    padding-top:44vh;
    color:#fff;
}

#title{
    font-size:10vw;
}

#navbar{
    position:sticky;
    top:0;
    left:0;
    text-align:center;
    padding: 0.5em;
    background-color:#2225;
    height:62px;
    backdrop-filter:blur(30px);
}

#navbar a{
    margin:0 .25em;
    padding:1em 1.5em 1em 1.66em;
    display:inline-block;
    font-size:.8em;
    text-decoration:none;
    text-transform: uppercase;
    background-color:#fffc;
    letter-spacing:2px;
    font-weight:600;
    border-radius:.5em;
    color:#000;
    border-bottom:solid 1px #000;
    box-shadow:0;
    transition:box-shadow .2s, background-color .2s;
}

#navbar a:hover{
    background-color:#fff;
    box-shadow:#0ff 0px -5px 5px -5px inset;
}

#wrapper{
    background-color:#111;
}

main{
    max-width:800px;
    margin:auto;
    padding:0 50px;
    color:#fff;
}

#welcome-section{
    padding:5em 0 0 0;
    min-height:100vh;
}

blockquote{
    padding:0 1em;
    letter-spacing:1px;
    font-style:italic;
    font-size:.8em;
}

h1{
    font-size:4em;
}

p{
    margin:0 0 1.5em 0;
    font-size:1.2em;
}

#next-button{
    color:#fff;
    background-color:#fff1;
    padding:.2em .4em .2em .6em;
    border-radius:.2em;
    text-decoration:none;
}

#projects{
    padding: 5em 0 0 0;
    min-height:100vh;
}

#projects-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    margin:1em 0 0 0;
}

.project-tile{
    width:48%;

    background-color:#fff1;
    padding:1.8em;
    margin:0 0 1.5em 0;
    border-radius:1.8em;
}

.project-tile img{
    margin-bottom:1em;
    width:100%;
    border:1px solid #fff;
    border-radius:1em;
}

figcaption{
    color:#fff;
}

@media only screen and (min-width: 768px) {

header{
    margin-top:-62px;
    height:100vh;
    text-align:center;
    background-image:url(https://images.unsplash.com/photo-1545431613-51ec097943c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size:cover;
    background-attachment:fixed;
    padding-top:35vh;
    color:#fff;
}

#title{
    font-size:7vw;
}

#navbar{
    position:sticky;
    top:0;
    left:0;
    text-align:center;
    padding: 0.5em;
    background-color:#2225;
    height:62px;
    backdrop-filter:blur(30px);
}

#navbar a{
    margin:0 .25em;
    padding:1em 1.5em 1em 1.66em;
    display:inline-block;
    font-size:.8em;
    text-decoration:none;
    text-transform: uppercase;
    background-color:#fffc;
    letter-spacing:2px;
    font-weight:600;
    border-radius:.5em;
    color:#000;
    border-bottom:solid 1px #000;
    box-shadow:0;
    transition:box-shadow .2s, background-color .2s;
}

#navbar a:hover{
    background-color:#fff;
    box-shadow:#0ff 0px -5px 5px -5px inset;
}

#wrapper{
    background-color:#111;
}

main{
    max-width:800px;
    margin:auto;
    padding:0 100px;
    color:#fff;
}

#welcome-section{
    padding:5em 0 0 0;
    min-height:100vh;
}

blockquote{
    padding:0 1em;
    letter-spacing:1px;
    font-style:italic;
    font-size:.8em;
}

h1{
    font-size:4em;
}

p{
    margin:0 0 1.5em 0;
    font-size:1em;
}

#next-button{
    color:#fff;
    background-color:#fff1;
    padding:.2em .4em .2em .6em;
    border-radius:.2em;
    text-decoration:none;
}

#projects{
    padding: 5em 0 0 0;
    min-height:100vh;
}

#projects-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    margin:1em 0 0 0;
}

.project-tile{
    width:48%;

    background-color:#fff1;
    padding:1.8em;
    margin:0 0 1.5em 0;
    border-radius:1.8em;
}

.project-tile img{
    margin-bottom:1em;
    width:100%;
    border:1px solid #fff;
    border-radius:1em;
}

figcaption{
    color:#fff;
}

}
